name: Push Build

on:
  push:
    branches:
      - 'main'
  workflow_dispatch:

jobs:
  build:
    if: ${{ contains(github.event.head_commit.message, '[build skip]') == false }}
    permissions:
      contents: write

    strategy:
      matrix:
        java: [21]
        os: ['ubuntu-latest']

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - name: Setup jdk ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.java }}

      - uses: gradle/wrapper-validation-action@v2

      - name: Fix Gradle permission
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew clean bukkitMetadata build --stacktrace --no-daemon

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: CurtainGradle-Example-Plugin
          path: |
           build/libs
